{% extends "base.html" %}

{% block title %}Blog Admin{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('register')}}" role="form">
    <body class="account separate-inputs boxed" data-page="signup">
        <!-- BEGIN LOGIN BOX -->
        <div class="container" id="login-block">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3">
                    <div class="account-wall">
                        <i class="user-img icons-faces-users-03"></i>
                        
                            {% from "_formhelpers.html" import render_field %}
                        
                            {{ form.hidden_tag() }}


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="append-icon">
                                        
                                        {{ render_field(form.username, class='form-control') }}
                                        
                                        <i class="icon-user"></i>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="append-icon">
                                         {{ render_field(form.fullname, class='form-control') }}
                                        <i class="icon-user"></i>
                                    </div>
                                </div>

                            </div>

                            <div class="append-icon">
                                {{ render_field(form.email, class='form-control') }}
                                <i class="icon-envelope"></i>
                            </div>

                            <div class="append-icon">
                                {{ render_field(form.password, class='form-control') }}
                                <i class="icon-lock"></i>
                            </div>

                            <div class="append-icon m-b-20">
                                {{ render_field(form.confirm, class='form-control') }}
                                <i class="icon-lock"></i>
                            </div>

                            <div class="terms option-group">
                                <label  for="terms" class="m-t-10">
                                <input type="checkbox" name="terms" id="terms" data-checkbox="icheckbox_square-blue" required/>
                                I agree with terms and conditions
                                </label>  
                            </div>

                            <button type="submit" class="btn btn-default">Register</button>

                            <div class="social-btn">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-lg btn-block btn-primary"><i class="fa fa-facebook pull-left"></i>Sign In with Facebook</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-lg btn-block btn-danger"><i class="fa fa-google pull-left"></i>Sign In with Google</button>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">
                                <p class="pull-right m-t-20"><a href= {{ url_for('login') }}>Already have an account? Sign In</a></p>
                            </div>


                    



                    </div>
                </div>
            </div>
            <p class="account-copyright">
                <span>Copyright © 2015 </span><span>THEMES LAB</span>.<span>All rights reserved.</span>
            </p>
        </div>
    <script src="{{ url_for('static', filename='assets/plugins/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/jquery/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/gsap/main-gsap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/backstretch/backstretch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/bootstrap-loading/lada.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/pages/login-v1.js') }}"></script>

    </body>

 </form>

{% endblock %}